table {
	width: 100%;
}


@font-face {
	font-family: Agua;
	src: url("AguafinaScript-Regular.ttf");
}

@font-face {
	font-family: Domine;
	src: url("Domine-Regular.ttf");
}

		
a:link {
	color: blue;
   	text-decoration: none;
}
		
a:visited {
	text-decoration: none;
	color: red;
}
		
a:hover{
	background-color: green;
	text-decoration: underline;
	color: cyan;
}
		
a:active {
	font-weight: bold;
	text-decoration: none;
}
		