header {
	width: 100%;
	background-color: #f8f8f8;
	margin: 0px;
	padding: 0px;
	
}

footer {
	background-color: #f8f8f8;
	text-align: center;
	color: black;
	width: 100%;
	padding: 20px 20px 60px 20px;
}

header h1 {
	text-align: center;
	font-family: Carrington; 
	font-size: 65px;
	color: black;
	padding: 5px 5px 0px 5px;
	margin-top: 0px;
}

 
@font-face {
	font-family: Carrington;
	src: url("Carrington.ttf");
}

a:link {
   	text-decoration: underline;
}
		
a:visited {
	text-decoration: underline;
	color: navy;
}
		
a:hover{
	font-weight: bold;
	text-decoration: underline;
}
		
a:active {
	text-decoration: none;
	color: blue;
}
		
